html{
    background: linear-gradient(45deg,rgb(203, 177, 252),rgb(241, 230, 255));
    height: 100%;
}
body{
    width: 100%;
    height: 100%;
    margin: 0px;
    display: block;
}
#rickroll{
    position: absolute;
    height: 60%;
    top: 8%;
    left: 50%;
    transform: translateX(-50%);
    transition-duration: 0.5s;
    border-radius: 5%;
}
#rickroll:hover{
    height: 65%;
    left: 50%;
    transform: translateX(-50%);
}
#main{
    position: absolute;
    background-color: rgb(33, 43, 43);
    object-fit:cover;
    width: 60vh;
    height: 15%;
    top: 76%;
    left: 50%;
    transform: translateX(-50%);
    border-radius: 2.5vh;
    transition-duration: 0.5s;
}
#main:hover{
    width: 65vh;
    height: 16.25%;
}